$color-header: #BD2C3B;
$main-color: #BD2C3B;

$gradiente-principal: linear-gradient(135deg, #ce3134 0%, #ae2d4b 25%, rgba(120, 39, 113, 0.7) 68%, rgba(79, 34, 142, 0) 100%);

$font-family: 'Sora', sans-serif;
$mapa: (
	"light": 300,
	"regular": 400,
	"bold":700
);
