$color-header: #BD2C3B;
$main-color: #BD2C3B;

$gradiente: linear-gradient(to right,  #BD2C3B 0%,#E54457 100%);
$gradiente-celeste: linear-gradient(to right, #2B7B8C 4%,#5AB5AF 66%,#5AB5AF 100%,#28343b 100%);
$gradiente-flecha: true;
$valores: instagram, facebook;
$font-family: 'Sora', sans-serif;
$mapa: (
	"light": 300,
	"regular": 400,
	"bold":700
);