@import "variables";

@mixin colorBlanco{
  color: #F2F2F2;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: $main-color;
  font-family: $font-family;
}

@each $k, $v in $mapa{
  .font-#{$k}{
    font-family: $font-family;
    font-weight: $v;
  }
}


.bgColor{
  background-color: $color-header;
}

.header__logo img{
  max-width: 50px;
}

#siteBanner{
  background-image: url("../media/home/carrusel_menu.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 600px;
  height: 50vh;
  position: relative;
}

#siteBanner span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(206,49,52,1) 0%,rgba(174,45,75,1) 25%,rgba(120,39,113,0.7) 68%,rgba(79,34,142,0) 100%);
  background-position: 50%;
  opacity: .5;
}

#siteBanner h3{
  font-size:180px;
  font-family: $font-family;
}

#siteBanner p{
  font-size: 30px;
  font-family: $font-family;
}



/*.carousel-caption h3{
  font-size: 700;
  font-weight: bold;
}

.carousel-caption p{
  font-size: 400;
  font-weight: regular;
}*/

#siteBox h4{
  font-size: 300;
  font-weight: bold;
}

.box{
  -webkit-box-shadow: 2px 2px 30px 1px black;
  box-shadow: 2px 2px 30px 1px black;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: $main-color;
}



.principal__noticias{
  margin-left:  auto;
  margin-right: auto;
}

.noticias__img{
  max-width: 100%;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px;
}

.box--propiedades{
  margin-bottom: 4px;
}

.box--propiedades:hover{
  transform: scale(1.1);
}

#siteSemiFinal{
  background-image: url("../media/home/img_cinco.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 600px;
  height: 50vh;
  position: relative;
}

#siteSemiFinal span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, rgba(206,49,52,1) 0%,rgba(174,45,75,1) 25%,rgba(120,39,113,0.7) 68%,rgba(79,34,142,0) 100%);
  background-position: 50%;
  opacity: .5;
}

#siteSemiFinal h3{
  font-size:100px;
  font-family: $font-family;
}

#siteSemiFinal p{
  font-size: 30px;
  font-family: $font-family;
}



#siteFooter{
  background-color: black;
  div{
    color: #F2F2F2;
  }
}


.footer__div{
  font-weight:  bold;
}

/*#siteSemiFinal img{
  max-width: 100%;
  margin-left: 0px;
  margin-right: 60px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px; 
}*/

.subtituloNews{
  font-family: $font-family;
  justify-content: center;
  padding-top: 0px;
  color: $main-color;
}

.subtituloNewsDos{
  @extend .subtituloNews;
  padding-top: 40px;
}

.flecha img{
  max-width: 80px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 12px;
  /*margin: 50px;*/
  -webkit-border-radius: 100px 100px 100px 100px;
  border-radius: 100px 100px 100px 100px;
  @if $gradiente-flecha{
    background: $gradiente;
  }@else{
    background: $main-color;
  }
}

.flecha img:hover{
  transform: scale(1.01);
}

/*.temasBlog{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;  
}
*/


.temasBlog button{
  background: $gradiente-celeste;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px; 

}

.temasBlog h1{
  font-weight: 400;
  font-size: 20px;
  color: #F2F2F2;
  text-align: center;
}

/*.semiFinalIndex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}*/


.box2 img{
  width: 100%;
}

.especialH6{
  font-family: $font-family;
  font-size: 300;
  color: #02090D;
  text-align: center;
  padding: 10px;
}


.box1Form{
  @include colorBlanco;
  background-color: #2B7B8C;
  padding: 20px;
  padding: 30px;
  text-align: center;
}

.box2Form{
  background-color: #F2F2F2;
  color: #2B7B8C;
  padding: 20px;
  
}

.background-special{
  background-color: #2B7B8C;
}

.text-special{
  @include colorBlanco;
}

.shadow{
  text-shadow: 0 0 30px #000000;
}

@each $v in $valores{
  .icono-#{$v}{
    background: url("../media/home/#{$v}.png");
    max-width: 500px;
  }
}


/*# sourceMappingURL=estilos.css.map */